language: node_js
node_js:
- 6
before_install:
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
deploy:
  provider: heroku
  api_key:
    secure: f715a3d2-ff7d-45c6-87cd-dd724d845e24
  app: tronmbot
  on:
    repo: dkutre/2016_2_MBOT
